name: Test suite

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - develop
      - master
    paths:
      - .github/workflows/testsuite.yml
      - giatools/*.py
      - setup.py
      - tests/*.py
      - tests/data/**
      - requirements.txt
      - tests/requirements.txt

jobs:
  python_lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 isort

      - name: Run flake8
        shell: bash
        run: |
          flake8 giatools
          flake8 tests

      - name: Run isort
        shell: bash
        run: |
          isort giatools --check-only
          isort tests --check-only

  run_testsuite:
    name: Tests
    uses: BMCV/github-workflows/.github/workflows/coverage-run.yml@main
    with:
      main_branch: master
      python_versions: '["3.9", "3.10", "3.11", "3.12", "3.13"]'
      main_python_version: "3.11"
      gist-id: 07509ac0c0aa1d5a65ca03806bd3600b
      gist-filename: giatools.json
    secrets:
      gist-auth: ${{ secrets.GIST_SECRET }}
